<nav class="navbar navbar-inverse bobby">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Web Scrapper!</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/scrappedPage">Scrapped Articles</a>
            </li>
            <li class="active">
                <a href="/savedArticles">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>

<div id="savedArticlesDisplay"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h4>Title</h4>
                <input id="inputBoxTitle"></input>
                <h4>Write a Note below!</h4>
                <textarea id="inputBoxBody"></textarea>
            </div>
            <div class="modal-footer">
                <button id="saveNote" type="button" class="btn btn-primary" data-dismiss="modal">Save Note</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Exit</button>
            </div>
        </div>