<nav class="navbar navbar-inverse bobby">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Web Scrapper!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/scrappedPage">Scrapped Articles</a></li>
    </ul>
    <button class="btn btn-primary scrapeBtn" data-toggle="modal" data-target="#myModal">SCRAPE BUTTON!</button>
  </div>
</nav>

<div id="newInfo2">
    hello
</div>