<nav class="navbar navbar-inverse bobby">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Web Scrapper!</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/scrappedPage">Scrapped Articles</a></li>
      <li><a href="/savedArticles">Saved Articles</a></li>
    </ul>
  </div>
</nav>

<div id="newInfo2"></div>